<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Torrents</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/vendor.js"></script>
    <script src="/static/app.js"></script>
    <script>require('initialize');</script>
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
          {% if current_user %}
            <a href="/auth/logout?next=/">Sign out</a>
            {{ modules.UserModule(current_user) }}
          {% else %}
            {{ '<a href="%(url)s">Sign in</a>' % {"url": "/auth/google/login?next=/"} }}
          {% endif %}
        </div>
      </div>
      <div style="float:left;width:500px;">{% block plan %}{% endblock %}</div>
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
    {% block bottom %}{% endblock %}
  </body>
</html>
